extends layout

block content
    #page1(data-role='page')
    audio#aZ(src='audio/z.mp3', preload='auto')
    audio#a0(src='audio/0.mp3', preload='auto')
    audio#a1(src='audio/1.mp3', preload='auto')
    audio#a2(src='audio/2.mp3', preload='auto')
    audio#a3(src='audio/3.mp3', preload='auto')
    audio#a4(src='audio/4.mp3', preload='auto')
    audio#a5(src='audio/5.mp3', preload='auto')
    audio#a6(src='audio/6.mp3', preload='auto')
    audio#a7(src='audio/7.mp3', preload='auto')
    audio#a8(src='audio/8.mp3', preload='auto')
    audio#a9(src='audio/9.mp3', preload='auto')
